<div class="fh5co-loader"></div>
<style>
</style>
<div id="page">

    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" style="background-image:url(images/Love-Flowers-And-Coins-Wallpaper-HD.jpg);">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" style="margin-top: 5em" data-animate-effect="fadeIn">
                            <h1>¡¡¡Feliz 4to Aniversario!!!</h1>
                            <div class="row" style="padding-top: 3em">
                                    <div class="col-md-4" style="padding-right: 10em">
                                        <img style="position: absolute" src="/images/AW866286_20.gif" alt="dog">
                                    </div>
                                    <div class="col-md-4" style="padding-left: 10em">
                                        <img src="/images/gifl2.gif" alt="bearlove">
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main skills tres columnas  -->
    <div id="fh5co-services" class="fh5co-bg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center section-heading">
                    <h2>Para ella</h2>
                    <h3>Que lo es todo</h3>
                </div>
                <div align="center" style="align-content: center" class="col-md-8 col-md-offset-2 text-center">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <div align="center">
                            <span class="icon3">
                                <img height="70" src="/images/fonts/like.svg" alt="">
                            </span>
                        </div>
                        <h3 class="firsts-h3" align="center">Mi novia hermosa</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 3em" class="container">
        <div class="row row-bottom-padded-lg" id="about-us">
            <div style="margin-left: 5px; margin-right: 5px" class="row">
                <div align="center" id="aboutBriefImg1" class="col-sm-6 animated">
                    <p style="padding-top: 4.5em; font-size: 20px !important">
                        Has sido la razón que impulsa mis deseos. Por ti sueño cada día con la vida que quiero, y esta la veo es contigo. Que divertidos
                        han sido estos años a tu lado, llenos de emoción, amor, risas y ternura.
                    </p>
                    <p style=" font-size: 20px !important">
                        Me pierdo en tus ojos cada vez que los miro y tu piel hace que quiera acariciarla hasta que ya no tenga fuerzas.
                    </p>


                </div>
                <div id="aboutBrief" class="col-sm-6 animated">
                    <img width="500" height="700" src="images/Photos/p3.jpg" class="img-responsive img-rounded" alt="José Luis Raffalli Adriani">
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 0.75em" class="container">
        <div class="row row-bottom-padded-lg" id="about-us">
            <div style="margin-left: 5px; margin-right: 5px" class="row">
                <div align="center" id="aboutBriefImg2" class="col-sm-6 animated">
                    <img width="500" height="700" src="images/Photos/p4.jpg" class="img-responsive img-rounded" alt="José Luis Raffalli Adriani">
                </div>
                <div id="aboutBrief" class="col-sm-6 animated">
                    <p style="padding-top: 4.5em; font-size: 20px !important">
                        Me encanta que siempre estemos buscando hacer algo diferente, con metas, con energía, con ganas de emprender siempre en nuestras
                        vidas, y mi deseo más grandes es emprender un futuro contigo ❤.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 0.75em" class="container">
        <div class="row row-bottom-padded-lg" id="about-us">
            <div style="margin-left: 5px; margin-right: 5px" class="row">
                <div align="center" id="h2" class="col-sm-6 animated">
                    <p style="padding-top: 4.5em; font-size: 20px !important">
                        Me pierdo en tu ser y soy feliz de poder decirte que te amo cada día. Solo quiero que nuestro amor siga creciendo y que como
                        una planta a la que hay que cuidar, ambos la cuidemos para que siga creciendo y floreciendo como
                        hasta ahora.
                    </p>
                </div>
                <div id="h1" class="col-sm-6 animated">
                    <img width="500" height="700" src="images/Photos/p2.jpg" class="img-responsive img-rounded" alt="José Luis Raffalli Adriani">
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 0.75em" class="container">
        <div class="row row-bottom-padded-lg" id="about-us">
            <div style="margin-left: 5px; margin-right: 5px" class="row">
                <div align="center" id="h2">
                    <h2>
                        Solo puedo decir que
                        <b>te amo</b> y 
                        <br>espero seguir cumpliendo añitos contigo :3
                    </h2>
                    <img id="h5" width="500" height="700" src="images/Photos/p6.png" class="img-responsive img-rounded animated" alt="José Luis Raffalli Adriani">

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="align-content: center; text-align: center">
            <div style="padding-top: 3em">
                <button class="btn btn-med btn-primary" onclick="play()">
                    ¡Recibir sorpresa!
                </button>
            </div>

            <br>
            <div style="padding-bottom: 0.75em" class="row">
                <div class="col-md-4">
                    <img id="imagen1" height="800" class="animated" style="display:none" src="/images/4años.png" alt="4años">
                </div>
                <div style="padding-left: 500px; padding-top: 500px " class="col-md-8 ">
                    <audio id="myAudio" controls style="display: none">
                        <source src="/images/MAGIC! - Kiss Me (Official Video).mp3" type="audio/mpeg">
                    </audio>
                    <div style="display:none" class="animated" id="imagen2">
                        <img height="150" class="animated" id="moji1" src="/images/Stitch-PNG-Photos.png" alt="4años"> Te amo mucho❤
                        <p> <b>PD:</b>  No es mucho, pero es un detallito... Abre la caja amarrilla linda :3 </p>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>
<script>
    window.addEventListener("load", function () {
        document.getElementById("myAudio").volume = 0.05;
    });
    
    document.getElementById("myAudio").volume = 0.05;

    function play() {
        var x = document.getElementById("myAudio");
        x.play();
        document.getElementById("myAudio").style.display = "flex";
        document.getElementById("imagen1").style.display = "block";
        document.getElementById("imagen2").style.display = "block";
        $('#imagen1').addClass('fadeInUp');
        $('#imagen2').addClass('fadeInUp');


    }


</script>