<div class="fh5co-loader"></div>
<script>
   window.addEventListener('load', function () {
    var type4 = new Typed('#dialog1', {
			strings: ["Click the button if you wish to contact me!", "Or keep scrolling to know me better", "You can check all my Projects at GitHub", "Arya Stark dies at the end of season 8!", "don't worry Im kidding hehe" ],
			loop: true,
  			loopCount: 6,
			backSpeed: 20,
			backDelay: 1500,
  			typeSpeed: 25
		});
}, false);
</script>
<div id="page">
<nav class="fh5co-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div id="fh5co-logo"><a href="/">Jose</a></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/about">About</a></li>
                    <li class="has-dropdown">
                        <a href="#">Services</a>
                        <ul class="dropdown">
                                <li><a href="#">Web Platforms</a></li>							
								<li><a href="#">Mobile Applications</a></li>								
								<li><a href="#">IT Consulting</a></li>
								<li><a href="#">Data Science</a></li>																	
								<li><a href="#">External Audits</a></li>								
								<li><a href="#">APIs Development</a></li>
                        </ul>
                    </li>
                    <li><a href="/CVs/Clean CV English.pdf">My Skills</a></li>
                    <li> <a href="contact">Contact</a></li>
                    
                </ul>
            </div>
        </div>
        
    </div>
</nav>

<header style=" background-image:url(images/IMG_20160826_135858452.jpg);" id="fh5co-header" class="fh5co-cover fh5co-cover-sm" >
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1 class="animated slideInRight">About me</h1> 
                        <h2 class="animated slideInLeft">Scroll down to learn more</h2>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main skills tres columnas  -->
<div id="fh5co-services" class="fh5co-bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                        <div align="center">
                            <span class="icon3">
                                <img height="70"  src="/images/fonts/businessman.svg" alt="">
                            </span>
                        </div>
                    <h3 class="firsts-h3"  align="center" >Project Manager</h3>
                    <p>Love to create and manage projects. Responsible of lifting the business requirements, clearly define objectives to my dev team, management of resources, costs and possible risks.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <div align="center">
                            <span class="icon3">
                                <img height="70" src="/images/fonts/stack.svg" alt="">
                            </span>
                    </div>
                    <h3 class="firsts-h3" align="center">Fullstack Developer</h3>
                    <p>Frontend developer using modern component based frameworks such as React, Angular and Vue. Also holding experience building backend systems with custom functionalities and data control.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <div align="center">
                            <span class="icon3">
                                <img height="70" src="/images/fonts/startup.svg" alt="">
                            </span>
                    </div>
                    <h3 class="firsts-h3"  align="center">Startups Accelerator</h3>
                    <p>Pitch your business and secure the funding needed to launch a new company. I know to write clear, compelling, targeted mission and vision statements. Let's build together a better world and make business on the way.</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- About 2 -->
    <div style="margin-top:4em" class="container">
			<div class="row" id="about-us">
				<div style="margin-left: 5px; margin-right: 5px" class="row">
				<div align="center" id="aboutBriefImg2"  class="col-sm-6 animated">
					 <!--<img id="imagenAbout"  src="images/NewyorkParkMia.jpg" class="img-responsive img-rounded" alt="José Luis Raffalli Adriani about1">
					--><img  width="250" height="425" src="images/Photos/sinFondo.png" class="img-responsive img-rounded" alt="José Luis Raffalli Adriani">
				</div>
				<div id="aboutBrief2" class="col-sm-6 animated">
					<h2>Hi! I am Jose Luis Raffalli</h2>
					<p>
                            I'm a Systems Engineer intellectually
                            curious and passionate about computer sciences and technology in general. 
                            I have confidence and empathy during verbal communications, holding practice dealing with audiences
                            and leading work teams. 
                            I'm also good designing systems architectures and organizing projects. 
                            
					</p>
                   
					<div align="right">
						<!-- <a style="position:absolute; margin-top:140px" href="/contact" class="btn btn-primary">Contact</a> -->
						<div id="mojiText" style="margin-top:90px; margin-left:75px; position:absolute;">
							<span id="dialog1"></span>
						</div>
						<img  id="moji2" class="animated"   height="215" src="images/Bitmojis/bitmoji-20170811100450-min.png"  alt="Bitmoji Relax">
					</div>
				</div>
				</div>
			</div>
        </div>

    <!-- Collage 1 : Educación  -->
	<div id="fh5co-project">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center section-heading">
                        <h2>Some Certificates</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 fh5co-project ">
                        <a target="_blank" href="https://platzi.com/@keydash/carrera/43-javascript/diploma/detalle/"><img
                                class="img-responsive" src="images/Collage 1- Formación/diploma-carrera-js-1.jpg"
                                alt="Platzi Certificate JS to Jose Luis Raffalli Adriani" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-project ">
                        <a target="_blank" href="https://platzi.com/@keydash/carrera/46-ai/diploma/detalle/"><img class="img-responsive"
                                src="images/Collage 1- Formación/diploma-ai-1.jpg"
                                alt="Platzi Certificate PMP to Jose Luis Raffalli Adriani" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-project ">
                            <a target="_blank" href="https://platzi.com/@keydash/curso/1090-pmi-2017/diploma/detalle/"><img
                                    class="img-responsive" src="images/Collage 1- Formación/diploma-pmi-page-001.jpg"
                                    alt="Platzi Certificate PMP to Jose Luis Raffalli Adriani" class="img-responsive">
                            </a>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-project ">
                            <a target="_blank" href="https://platzi.com/@keydash/curso/1186-creacion-de-empresas/diploma/detalle/"><img
                                    class="img-responsive" src="images/Collage 1- Formación/diploma-creacion-de-empresas-1.jpg"
                                    alt="Platzi Certificate PMP to Jose Luis Raffalli Adriani" class="img-responsive">
                            </a>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-project ">
                        <a target="_blank" href="https://platzi.com/@keydash/curso/1219-ibm-cloud/diploma/detalle/"><img class="img-responsive"
                                src="images/Collage 1- Formación/diploma-ibm-cloud-1.jpg"
                                alt="Platzi Certificate to Jose Luis Raffalli Adriani" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-project ">
                        <a href="https://platzi.com/@keydash/curso/1075-scrum-2017/diploma/detalle/"><img class="img-responsive"
                                src="images/Collage 1- Formación/diploma-scrum-2017-1.jpg"
                                alt="Platzi Certificate Scrum to Jose Luis Raffalli" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-project ">
                        <a target="_blank" href="https://platzi.com/@keydash/curso/1153-angular/diploma/detalle/"><img class="img-responsive"
                                src="images/Collage 1- Formación/diploma-angular-page-001.jpg"
                                alt="Certificado de Platzi en Angular 4 | Jose Luis Raffalli Adriani" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-project ">
                        <a href="https://platzi.com/@keydash/curso/1111-vuejs/diploma/detalle/"><img class="img-responsive"
                                src="images/Collage 1- Formación/diploma-vuejs-page-001.jpg"
                                alt="Certificado de Vue.js para Jose Luis Raffalli Adriani" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-project ">
                        <a target="_blank" href="https://platzi.com/@keydash/curso/45-git-github-2016/diploma/detalle/"><img class="img-responsive"
                                src="images/Collage 1- Formación/diploma-git-github-page-001.jpg"
                                alt="Platzi Certificate to Jose Luis Raffalli Adriani" class="img-responsive">
                        </a>
                    </div>
                    <a href="https://platzi.com/@keydash/"><button class="btn btn-primary btn-block">See All</button></a>

                </div>
                </div>
        </div>

    <!-- wCollage 2  -->
	<div style="margin-top:-60px;" id="fh5co-project">
		<div class="container">
			<div id="collage2" class="row animated">
				<div class="col-md-8 col-md-offset-2 text-center section-heading">
					<h2>What I like the most</h2>
					<h3 >Things that make me who I am</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\tunnel-view-3840x2160-yosemite-ca-sunset-mountains-clouds-pines-6147-min.jpg" alt="Yosemite Raffalli" class="img-responsive">
						<h3>Nature</h3>
						<span>World landscapes</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\glenn-carstens-peters-190592-edit.jpg" alt="glenn cartens peters" class="img-responsive">
						<h3>Building projects</h3>
						<span>Makinng things work</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\got.jpg" alt="game of throne raffalli jose taste" class="img-responsive">
						<h3>Entertainment</h3>
						<span>Movies, series and video games</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\amazing-modern-workspace-imac-27quot-display-computer-setup-for-imac-27-desk-setup.jpg" alt="workspace" class="img-responsive">
						<h3>Workspace</h3>
						<span>Comfort will make you more productive</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\joshua-earle-2521-min.jpg" alt="travel joshua earle" class="img-responsive">
						<h3>Traveling</h3>
						<span>Love meeting new places</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\hubble_galaxy-2560x1440-min.jpg" alt="science raffalli jose luis" class="img-responsive">
						<h3>Science</h3>
						<span>To uncover the mysteries of the world</span>
					</a>
				</div>
			</div>
		</div>
    </div>
        
 	

<!-- Youtube -->
<section>
<div style="margin-bottom:4em" class="container">
    <div class="row">
            <div style="padding-bottom:1em" class="col-md-12 section-heading text-center">
                    <h2>Interviews</h2>
                    <h3>Aerospace Drone Project</h3>
            </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
            <iframe  allowfullscreen class="embed-responsive-item" src="https://www.youtube.com/embed/-0SLDsuew6k"></iframe>
    </div>
</div>
</section>


<!-- Featturrete  -->		
<div id="fh5co-started">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Done?</h2>
            </div>
        </div>
        <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2">
                        <div class="col-md-6 col-md-offset-3 col-sm-6">
                            <a href="/" ><button class="btn btn-default btn-block">Back to homepage</button></a>
                        </div>
                </div>
        </div>
    </div>
</div>
</div>


