<div class="fh5co-loader"></div>

<div id="page">
<nav class="fh5co-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div id="fh5co-logo"><a href="/">Jose</a></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/about">About</a></li>
                    <li class="has-dropdown">
                        <a href="/services">Services</a>
                        <ul class="dropdown">
                                <li><a href="#">Web Platforms</a></li>							
								<li><a href="#">Mobile Applications</a></li>								
								<li><a href="#">IT Consulting</a></li>
								<li><a href="#">Data Science</a></li>								
								<li><a href="#">Digital Marketing</a></li>								
								<li><a href="#">External Audits</a></li>								
								<li><a href="#">API's Development</a></li>
                        </ul>
                    </li>
                    <li><a href="/skills">My Skills</a></li>
                    <li class="has-dropdown">
                        <a href="#">More Stuff</a>
                        <ul class="dropdown">
                            <li><a href="#">Current Projects</a></li>
                            <li><a href="#">Personal Platform</a></li>
                            <li><a href="#">Preparadurias</a></li>
                            <li style="font-weight: bold;"><a href="#">Login</a></li>
                        </ul>
                    </li>
                    <li> <a href="contact">Contact</a></li>
                    
                </ul>
            </div>
        </div>
        
    </div>
</nav>

<header style="margin-bottom:4em; background-image:url(images/IMG_20160826_135858452.jpg);" id="fh5co-header" class="fh5co-cover fh5co-cover-sm" >
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>About me</h1> 
                        <h2>Scroll down to learn more</h2>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

    <!-- Prueba de featuretes  -->
	<section class="feature">
            <div class="container animated" id="featurette-1">
                <div class="row featurette animate-box">
                    <div style="padding-bottom:1em" class="col-md-12 section-heading text-center">
                        <h2>¿Quién soy?</h2>
                        <p>Diseño - Creación - Negocios</p>
                    </div>
                    <div style="margin-left: 10px; margin-right: 10px" class="row">
                            <div class="col-md-6">
                                <h2 class="featurette-heading-forSections" id="h2forgreybg"> ¡Hola! 
                                    <br>  Mi nombre es Jose Luis Raffalli. <span class="text-muted"> Soy un geek de la tecnología.</span></h2>
                                <br>
                                <p class="lead">Me encanta el diseño, la programación y el liderazgo en equipo. Tengo una imaginación muy grande y amo poder llevar mis sueños a la realidad a través del software.</p>
                            </div>
                            <div  class="col-md-4 col-md-offset-1 ">
                                <img width="125" src="/images/fonts/network-connection.svg" alt="Tecnology">
                            </div>
                    </div>
                </div>
            </div>	
    </section>	
    <section class="feature">
            <div class="container animated" id="featurette-1">
                <div class="row featurette animate-box">
                    <div style="margin-left: 10px; margin-right: 10px" class="row">
                            <div  class="col-md-4 col-md-offset-2">
                                    <img width="125" src="/images/fonts/network-connection.svg" alt="Tecnology">
                            </div>
                            <div class="col-md-6 ">
                                <h2 class="featurette-heading-forSections" id="h2forgreybg"> ¡Hola! </h2>   
                                <h2>Mi nombre es Jose Luis Raffalli. 
                                    <span class="text-muted"> Soy un geek de la tecnología.</span></h2>
                                <br>
                                <p class="lead">Me encanta el diseño, la programación y el liderazgo en equipo. Tengo una imaginación muy grande y amo poder llevar mis sueños a la realidad a través del software.</p>
                            </div>
                    </div>
                </div>
            </div>	
    </section>	
    
     <!-- Foto circular  -->
     <div id="fh5co-about">
            <div class="container">
                <div class="about-content">
                    <div class="row" style="margin-bottom: 75px;">
                        <div class=" animate-box" data-animate-effect="fadeIn">
                            <div class="fh5co-staff">
                                <img src="images/Bitmojis/bitmoji-20170805010006.png" alt="Free HTML5 Templates by gettemplates.co">
                                <h3>José Luis Raffalli Adriani</h3>
                                <strong class="role">Ingeniero en Sistemas</strong>
                                <ul class="fh5co-social-icons">
                                    <li><a href="https://www.facebook.com/joseluis.raffalli"><i class="icon-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/JotaRaffalli"><i class="icon-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/jos%C3%A9raffalli/"><i class="icon-linkedin"></i></a></li>
                                    <li><a href="https://github.com/JotaRaffalli"><i class="icon-github"></i></a></li>
                                </ul>
                            </div>
                            <div style="text-align: center; margin-top:-15px">
                                    <a href="/about" class="btn btn-primary ">Curriculum Viate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <section>
            <div class="container animated" id="featurette-1">
                <div class="row featurette  animate-box">
                    <div style="margin-left: 10px; margin-right: 10px" class="row">
                            <div class="col-md-6">
                                <img height="370" src="images/IMG_2829.JPG" alt="German Beer">
                            </div>
                            <div class="col-md-6">
                                    <h2 class="featurette-heading-forSections" id="h2forgreybg"> <span class="text-muted">Planificar y llevar a cabo.</span></h2>
                                    <p class="lead">Me gusta formar proyectos, diseñar planes y gestionarlos para poder llevarlos a cabo de la manera más profesional posible.</p>
                            </div>
                    </div>
                </div>
            </div>	
    </section>	

   
<!-- Youtube -->
<section>
<div class="container-fluid">
    <div class="row">
            <div style="padding-bottom:1em" class="col-md-12 section-heading text-center">
                    <h2>Entrevistas</h2>
                    <h3>Proyecto Aero espacial</h3>
            </div>
         <div class="youtube" id="-0SLDsuew6k"></div>
    </div>
</div>
</section>


<!-- Featturrete  -->		
<div id="fh5co-started">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Done?</h2>
                <p>I'll get in touch as sooon as I can.</p>
            </div>
        </div>
        <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2">
                        <div class="col-md-6 col-md-offset-3 col-sm-6">
                            <a href="/" ><button class="btn btn-default btn-block">Back to homepage</button></a>
                        </div>
                </div>
        </div>
    </div>
</div>
</div>
