<div class="fh5co-loader"></div>
<script>


        function enviarCorreo() {
            let nombre = document.getElementById('nombre').value;
            let apellido = document.getElementById('apellido').value;
            let subject = document.getElementById('subject').value;
            let message = document.getElementById('message').value;
            let email = document.getElementById('email').value;

            let obj = {
                nombre : nombre,
                apellido: apellido,
                subject: subject,
                message: message,
                email: email
            }
            console.log('este es el objeto',obj);
            fetch('/formSent', {  method: 'post',  body: obj })
                .then((resp) => resp.json())
                .then(function (data) {
                    let mailSent = data.results;
                    console.log(mailSent);
                })
                .catch(function (error) {
                    console.log(error);
                });  
    } 

</script>
<div id="page">
<nav class="fh5co-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div id="fh5co-logo"><a href="/">Jose</a></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="has-dropdown">
                        <a href="/services">Services</a>
                        <ul class="dropdown">
                                <li><a href="#">Web Platforms</a></li>							
								<li><a href="#">Mobile Applications</a></li>								
								<li><a href="#">IT Consulting</a></li>
								<li><a href="#">Data Science</a></li>								
								<li><a href="#">Digital Marketing</a></li>								
								<li><a href="#">External Audits</a></li>								
								<li><a href="#">API's Development</a></li>
                        </ul>
                    </li>
                    <li><a href="/skills">My Skills</a></li>
                    <li class="has-dropdown">
                        <a href="#">More Stuff</a>
                        <ul class="dropdown">
                            <li><a href="#">Current Projects</a></li>
                            <li><a href="#">Personal Platform</a></li>
                            <li><a href="#">Preparadurias</a></li>
                            <li style="font-weight: bold;"><a href="#">Login</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="contact">Contact</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</nav>

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" style="background-image:url(images/Yp1bGmB.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Get in contact with me</h1>
                        <h2>Whatever you want, don't hesitate to tell me!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-1">
                <div class="fh5co-contact-info">
                    <h3>Contact Information</h3>
                    <ul>
                        <li class="address"> Currently at: Caracas Venezuela, <br> Urb. Los Samanes, Av. La Colina </li>
                        <li class="phone"><a href="tel://4126303402">+ 58 412 6303402</a></li>
                        <li class="email"><a href="mailto:jraffall@typeiqs.com">jraffalli@typeiqs.com</a></li>
                        <li class="url"><a target="_blank" href="www.typeiqs.com/">Type IQS</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-6">
                <h3>Get In Touch with me</h3>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <!-- <label for="fname">First Name</label> -->
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Your firstname">
                        </div>
                        <div class="col-md-6">
                            <!-- <label for="lname">Last Name</label> -->
                            <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Your lastname">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <!-- <label for="email">Email</label> -->
                            <input type="text" id="email" name="email" class="form-control" placeholder="Your email address">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <!-- <label for="subject">Subject</label> -->
                            <input type="text" id="subject" name="subject" class="form-control" placeholder="Your subject of this message">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <!-- <label for="message">Message</label> -->
                            <textarea name="mensaje" id="message" cols="30" rows="10" class="form-control" placeholder="How can I help You?"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button onclick="enviarCorreo()" class="btn btn-primary">
                                Send Message
                        </button>

                        <% if ( mailSent) { %>

                            <div style=" padding-bottom:0.001em" id="checkmark">
                            <p style="padding-left: 1em"> Message sent!</p>
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>                            
                        </div>
                       <% } %>

                        
                    </div>	
            </div>
        </div>
        
    </div>
</div>

<style>

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: -18% 10.5em;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
</style>


<!-- Featturrete  -->		
<div id="fh5co-started">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Done?</h2>
                <p>I'll get in touch as sooon as I can.</p>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-6 col-md-offset-3 col-sm-6">
                        <a href="/" ><button class="btn btn-default btn-block">Back to homepage</button></a>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>