<!-- Titulo de pagina -->
 <title><%= title="Jose Raffalli | Home Page" %></title>
<!-- Canvas stars -->
<script src="no_needJs/starsCanvas.js"></script>
<!-- Typed -->
<script src="no_needJs/typed.js"></script>
<!-- Blinking cursor effect -->
<style>
		.typed-cursor{
			opacity: 1;
			-webkit-animation: blink 0.7s infinite;
			-moz-animation: blink 0.7s infinite;
			animation: blink 0.7s infinite;
		}
		@keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-webkit-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-moz-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
</style>
<!-- Home page media queries -->
<style>
	@media (max-width: 600px) {
  		.typed-cursor {
    	display: none;
		  }
		  p{
			 font-weight: normal; 
		  }

	}
	
</style>

<link rel="stylesheet" href="no_needStyles/codeSvg.css">

<!-- Loader -->
	<div class="fh5co-loader"></div>
	
<!-- Main -->
<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="left-menu text-right menu-1">
					<ul>
						<li><a href="#trajectory">Trajectory</a></li>
						<li><a href="about">About me</a></li>
						<li class="has-dropdown">
							<a href="/services">My Services</a>
							<ul class="dropdown">
								<li><a href="#">Web Platforms</a></li>							
								<li><a href="#">Mobile Applications</a></li>								
								<li><a href="#">IT Consulting</a></li>
								<li><a href="#">Data Science</a></li>								
								<li><a href="#">Digital Marketing</a></li>								
								<li><a href="#">External Audits</a></li>								
								<li><a href="#">API's Development</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="logo text-center">
					<!-- Logo and name -->
					<div id="fh5co-logo"><a href="/">Jose</a></div>
				</div>
				<div class="right-menu text-left menu-1">
					<ul>
						<li><a href="/skills">My Skills</a></li>
						<li class="has-dropdown">
							<a href="#">More Stuff</a>
							<ul class="dropdown">
								<li><a href="#">Current Projects</a></li>
								<li><a href="#">Personal Platform</a></li>
								<li><a href="#">Preparadurias</a></li>
								<li style="font-weight: bold;"><a href="#">Login</a></li>
							</ul>
						</li>
						<li><a href="/contact">Contact Me!</a></li>
						<!-- <li class="btn-cta"><a href="#"><span>Login</span></a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</nav>


	<!-- Header -->
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/ZhGEqAP.jpg);">
		<div class="container">
			<div  class="Starcontainer">
				<canvas id="pixie"></canvas>
			</div>
			<div  class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Jose Luis Raffalli</h1>
							<h2>I love <span style="color:#b82323; font-weight:500" id="typed3"></span></h2>
						</div>
					</div>
				</div>


			</div>
		</div>
	</header>

	<!-- Main skills tres columnas  -->
	<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<div align="center">
								<span class="icon3">
									<img height="70"  src="/images/fonts/businessman.svg" alt="">
								</span>
							</div>
						<h3 class="firsts-h3"  align="center" >Project Manager</h3>
						<p>Love to create and manage technological projects. Being responsible of lifting the requiriments of the business, clearly define the objectives for the team, the management of resources, costs and possible risks.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<div align="center">
								<span class="icon3">
									<img height="70" src="/images/fonts/stack.svg" alt="">
								</span>
						</div>
						<h3 class="firsts-h3" align="center">Fullstack Developer</h3>
						<p>From simple web designs, to more robust web systems like API’s or administrative softwares. I'm skilled building incredible visuals and system functionalities using the latest technologies and modern design patterns.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<div align="center">
								<span class="icon3">
									<img height="70" src="/images/fonts/startup.svg" alt="">
								</span>
						</div>
						<h3 class="firsts-h3"  align="center">Startups Accelerator</h3>
						<p>Pitch your business and secure the funding you’ll need to launch your new company. I’ll show you how to write clear, compelling, targeted mission and vision statements. Let's build together a better world and make bussiness on the way.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About Feature  -->
	<div id="fh5co-project"  >
		<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div style="padding-bottom:1em" class="col-md-12 section-heading text-center">
					<h2>About Me</h2>
				</div>
				<div style="margin-left: 10px; margin-right: 10px" class="row">
				<div id="aboutBrief" class="col-md-6 animated">
					<h2>Hello there!</h2>
					<p>My name is Jose Luis Raffalli, I am an enthusiast and lover of all sort of <strong>technologies</strong>. I like to manage projects, build cool interfaces and help people create amazing companies through the use of software.</p> 
					<p>I’m a systems engineer trained to study interdisciplinary problems of diverse types and complexity, related to the handling of information within an organization. </p>
					<p><a id="typed1" style="display: inline-block"  href="/about" class="btn btn-primary">Wanna learn more about me?</a></p>
					<img id="moji1" class="animated" style="margin-left: 250px; margin-top:-145px" height="90" src="images/Bitmojis/bitmoji-20170805010006.png"  alt="Bitmoji Relax">
				</div>
				<div id="aboutBriefImg"  class="col-sm-6 animated">
					 <!--<img id="imagenAbout"  src="images/NewyorkParkMia.jpg" class="img-responsive img-rounded" alt="José Luis Raffalli Adriani about1">	 
					--><img  width="550" height="350" src="images/IMG_2931.jpg" class="img-responsive img-rounded" alt="José Luis Raffalli Adriani">
					
				</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div style="margin-left: 5px; margin-right: 5px" class="row">
				<div align="center" id="aboutBriefImg2"  class="col-sm-6 animated">
					 <!--<img id="imagenAbout"  src="images/NewyorkParkMia.jpg" class="img-responsive img-rounded" alt="José Luis Raffalli Adriani about1">	 
					--><img  width="175" height="200" src="images/Yo sin fondo en NY.png" class="img-responsive img-rounded" alt="José Luis Raffalli Adriani">
					
				</div>
				<div id="aboutBrief2" class="col-sm-6 animated">
					<h2>I like modern and fast things</h2>
					<p> I always keep updated and at the forefront of changes in the world.</p> 
					<p>I consider myself mature when it comes to making decisions, always trying to see things objectively based on facts, but also looking for a middle point. </p>
					<p><a href="/about" class="btn btn-primary">Wanna learn more?</a></p>
					<div align="right">
						<!-- <a style="position:absolute; margin-top:140px" href="/contact" class="btn btn-primary">Contact</a> -->
						<div style="margin-top:100px; margin-left:120px; position:absolute;">
							<span id="dialog1"</span>
						</div>
						<img  id="moji2" class="animated"   height="230" src="images/Bitmojis/bitmoji-20170811100450.png"  alt="Bitmoji Relax">
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Services Feature  -->
	<div id="fh5co-services2" class="fh5co-bg-section">
		<div align="center" class="container">
			<div  class="section-heading text-center">
				<h2>
					My services
				</h2>
			</div>
			<div class="col-md-4 col-sm-4 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-user"></i>
					</span>
					<div class="desc">
						<h3>IT Consultancy</h3>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-mobile"></i>
					</span>
					<div class="desc">
						<h3>Multiplatform Dev</h3>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-brush"></i>
					</span>
					<div class="desc">
						<h3>Digital Marketing</h3>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-paper"></i>
					</span>
					<div class="desc">
						<h3>Audits</h3>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-stack"></i>
					</span>
					<div class="desc">
						<h3>Agile Coaching</h3>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-laptop"></i>
					</span>
					<div class="desc">
						<h3>Web Development</h3>
					</div>
				</div>
			</div>
			<div style="margin-top:15px;" class="section-heading animate-box" >
					<a  class="btn btn-primary">
						Learn More
					</a>
			</div>
				
		</div>
	</div>

	<!-- TimeLine Semi Ready -->
	<div id="trajectory" style="padding-top: 4em; "  class="section-heading text-center">
		<h2>
			Trajectory
		</h2>
	</div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Systems Engineering Title</h2>
				<p>Trained to study interdisciplinary problems of diverse types and complexity, related to the handling of information within an organization. I'm proud of the career I chose and go through at my beloved house of studies in Universidad Metropolitana of Caracas</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">2013-2018</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Platzi Scholarship Courses</h2>
				<p>Of the best companies in the education industry, I had the opportunity to see multiple courses of different technological fields such as web/multiplatform development, project managment, startup creation, correct digital marketing and DevOps strategies.  </p>
				<a href="www.platzi.com" class="cd-read-more">Go to Platzi</a>
				<span class="cd-date">2016-2018</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Programming Diploma</h2>
				<p>Institute of new technologies Uneweb, Caracas</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">2016</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Losher English Diploma</h2>
				<p>Losher Institude</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">2011</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
			
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Developer, Kek Laboratories</h2>
				<p>Perosnal business in the hybrid mobile development industry, Venezuela.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">2016</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Project Manager, TYPE IQS</h2>
				<p>Type IQS started to convert ideas into business with it's philosophy based on the value of knowledge. Now being one of the best consultants and business accelerators of the region, I'm part of the department of coordination and management of IT projects. </p>
				<a href="http://www.typeiqs.com" class="cd-read-more">Read more</a>
				<span class="cd-date">2017 Actual</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

	</section> <!-- cd-timeline -->

	<!-- Collage 1 : Educación  -->
	<div id="fh5co-project">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center section-heading">
					<h2>Some achievements</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
						<a href="https://platzi.com/@keydash/pmi/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-pmi-page-001.jpg" alt="Platzi Certificate PMP to Jose Luis Raffalli" class="img-responsive">		
						</a>
				</div>				
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
					<a href="https://platzi.com/@keydash/html5-css3/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-html5-css3-page-001.jpg" alt="Platzi Certificate to Jose Luis Raffalli" class="img-responsive">		
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
					<a href="https://platzi.com/@keydash/scrum/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-scrum-page-001.jpg" alt="Platzi Certificate to Jose Luis Raffalli" class="img-responsive">		
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
						<a href="https://platzi.com/@keydash/git-github-2016/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-git-github-page-001.jpg" alt="Platzi Certificate to Jose Luis Raffalli" class="img-responsive">		
						</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
					<a href="https://platzi.com/@keydash/heroku/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-heroku-page-001.jpg" alt="Platzi Certificate to Jose Luis Raffalli" class="img-responsive">		
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
					<a href="https://platzi.com/@keydash/programacion-basica/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-programacion-basica-page-001.jpg" alt="Platzi Certificate to Jose Luis Raffalli" class="img-responsive">		
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
					<a href="https://platzi.com/@keydash/sql-mysql/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-sql-mysql-page-001.jpg" alt="Platzi Certificate to Jose Luis Raffalli" class="img-responsive">		
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
					<a href="#"><img class="img-responsive" src="images/Collage 1- Formación/Certificado Uneweb.jpg" alt="Certificado Uneweb Raffalli Jose Luis" class="img-responsive">	
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
					<a href="#"><img class="img-responsive" src="images/Collage 1- Formación/Sae Certificate Done.jpg" alt="Sae Aerodesign Certificate" class="img-responsive">

					</a>
				</div>

			</div>
		</div>
	</div>

	
<!--Code SVG Animation -->
	<!--<div class="container">
		<div class="row">
		<div class="bg">
			<svg xmlns="http://www.w3.org/2000/svg" width="670" height="235" viewBox="560.4 -110.4 670 235" enable-background="new 560.4 -110.4 670 235">
			
			<path  class="wind" stroke="#297cbb" stroke-width="4" stroke-linejoin="round"  stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="50" stroke-dashoffset="50" stroke-width="4" stroke-linejoin="round" stroke-miterlimit="10" d="M597.8-86.2h21.7m185.4-3.4h13.5m364.1 25.6h13.5m-225.5-33.8h21.7m35.8 65.8h8.1m-277.8 72h21.7" fill="none"/><g stroke="#297cbb" stroke-width="4" stroke-linejoin="round" stroke-miterlimit="10" fill="none">
			
			<path  class="path-delay--4" stroke="#297cbb" stroke-width="4" stroke-linejoin="round"  stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="300" stroke-dashoffset="300" stroke-width="4" stroke-linejoin="round" stroke-miterlimit="10" d="M905.4-36.3v20.3l23.1 21.8-23.1 21.8v20.3l44.6-42.1zM888.2 27.6l-23.1-21.8 23.1-21.8v-20.3l-44.6 42.1 44.6 42.1z"/></g>
			
			<g  class="path-delay--3" stroke="#297cbb" stroke-width="4" stroke-linejoin="round"  stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="500" stroke-dashoffset="500" stroke-width="4" stroke-linejoin="round" stroke-miterlimit="10" fill="none"><path d="M896.8-73.3c-43.7 0-79.1 35.4-79.1 79.1s35.4 79.1 79.1 79.1c43.7 0 79.1-35.4 79.1-79.1s-35.4-79.1-79.1-79.1zM896.8 70.7c-35.8 0-64.9-29.1-64.9-64.9s29.1-64.9 64.9-64.9c35.8 0 64.9 29.1 64.9 64.9s-29.1 64.9-64.9 64.9z"/></g>
			
			<g class="clouds" stroke="#297cbb" stroke-width="4" stroke-linejoin="round"  stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="200" stroke-dashoffset="200" stroke="#297cbb" stroke-width="4" stroke-linejoin="round" stroke-miterlimit="10" fill="none"><path d="M768.1-5.9c-.6-7.3-6.6-13-14.1-13-1.8 0-3.5.3-5.1.9-2.8-5.7-8.7-9.6-15.6-9.6-8.2 0-15.1 5.7-16.9 13.4-.8-.2-1.7-.3-2.6-.3-5.3 0-9.6 3.7-10.6 8.7l64.9-.1zm370.7-60c-.5-6.7-6.1-12-13-12-1.6 0-3.2.3-4.7.9-2.6-5.3-8-8.9-14.3-8.9-7.6 0-13.9 5.2-15.6 12.3-.8-.2-1.6-.3-2.4-.3-4.8 0-8.9 3.4-9.8 8h59.8zm81.2 56.5c-.5-6.4-5.9-11.4-12.4-11.4-1.5 0-3.1.3-4.4.9-2.5-5-7.7-8.4-13.6-8.4-7.2 0-13.2 5-14.9 11.7-.8-.2-1.5-.3-2.3-.3-4.6 0-8.4 3.3-9.3 7.7l56.9-.2zm-128.1 29.4c-.6-7.4-6.8-13.3-14.3-13.3h-.8c-2.8-5.3-8.3-8.9-14.7-8.9-6.5 0-12.1 3.7-14.9 9.2-.9-.2-1.9-.3-2.9-.3-6.7 0-12.2 5.5-12.2 12.2 0 .4 0 .7.1 1.1h59.7zm-358.3-93.8c-.6-7.4-6.8-13.3-14.3-13.3h-.8c-2.8-5.3-8.3-8.9-14.7-8.9-6.5 0-12.1 3.7-14.8 9.2-.9-.2-1.9-.3-2.8-.3-6.7 0-12.2 5.4-12.2 12.2 0 .4 0 .7.1 1.1h59.5zM620.8-15.8c0-4.5-3.6-8.1-8.1-8.1-1.3 0-2.5.3-3.5.8-1.9-5.2-6.9-8.9-12.8-8.9-4.7 0-8.9 2.4-11.3 6.1-1.1-.5-2.3-.7-3.6-.7-5.2 0-9.5 4.3-9.5 9.5 0 .5 0 .9.1 1.4h48.7v-.1z"/>
			</g>
			
			<path  class="path" stroke="#297cbb" stroke-width="4" stroke-linejoin="round"  stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="1300" stroke-dashoffset="1300" stroke="#297cbb" stroke-width="4" stroke-linejoin="round" stroke-miterlimit="10" d="M1230.4 112.3c-5.6 0-10.2-4.6-10.2-10.2 0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2s-10.2-4.6-10.2-10.2c0 5.6-4.6 10.2-10.2 10.2" fill="none"/>
			
			<g  class="path-delay" stroke="#297cbb" stroke-width="4" stroke-linejoin="round"  stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="500" stroke-dashoffset="500" stroke="#297cbb" stroke-width="4" stroke-linejoin="round" stroke-miterlimit="10" fill="none"><path d="M1001.1 110.3l57.8-57.9 19.3 19.3 53.7-53.7 45.7 45.6 22.4-22.3 32.4 32.5M790 110.3l-69-69-22.3 22.3-42.6-42.6-31.5 31.4-21.3-21.3-43.7 43.7"/></g>
			
			<g  class="path-delay" stroke="#297cbb" stroke-width="4" stroke-linejoin="round"  stroke-linecap="butt" stroke-miterlimit="10" stroke-dasharray="100" stroke-dashoffset="100" stroke="#297cbb" stroke-width="4" stroke-linejoin="round" stroke-miterlimit="10" fill="none"><path d="M1214.5 53.5l-9.5 9.5-3-3-4.1 4-11.5-11.5M1112.7 37.3l7.1 7.1 5-5.1 7.1 7.1 7.1-7.1 6.2 6 7.1-7.1M711.8 51.5l5.1 5 4.1-4.1 5 5.1 5.1-5.1M668.3 33.2l-6.2 6.1-5.1-5.1-7.1 7.1-7.1-7.1M1046 65.4l8 7.9 5.5-5.5 6 6 7.4-7.4M590.7 43.7l7.3 7.3 4.5-4.6 6.1 6.1 8.2-8.2"/></g></svg>
			
		</div>
		</div>
	</div> -->
	
	<!-- Testimonios  -->
	<div id="fh5co-testimonial" style="background-image:url(images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div id="testimonial" class="row animated">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Happy Clients</h2>
				</div>
			</div>
			<div class="row">
				<!-- <div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quote"></i></span></span>
							<p>&ldquo; Thank you very much Jose, love your work and way of handling stuff &rdquo;</p>
						</blockquote>
						<p class="author">Jason Toussaint - <a href="https://www.louverturetravels.com" target="_blank">Louverture Travels</a> <span class="subtext">CEO at L'ouverture</span></p>
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quote"></i></span></span>
							<p>&ldquo; José is one of our bests programmers and an enthusiastic project manager. He has a bright young mind and is very skilled in the development of web systems &rdquo;</p>
						</blockquote>
						<p class="author">Luis sandoval - <a href="www.typeiqs.com" target="_blank">Type IQS</a><span class="subtext">CEO at T123 Project</span></p>
					</div>
				</div> -->
			</div>
		</div>
	</div>

	<!-- wCollage 2  -->
	<div style="margin-top:50px;" id="fh5co-project">
		<div class="container">
			<div id="collage2" class="row animated">
				<div class="col-md-8 col-md-offset-2 text-center section-heading">
					<h2>What I like the most</h2>
					<h3 >Things that make me who I am</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\tunnel-view-3840x2160-yosemite-ca-sunset-mountains-clouds-pines-6147-min.jpg" alt="Yosemite Raffalli" class="img-responsive">
						<h3>Nature</h3>
						<span>World landscapes</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\glenn-carstens-peters-190592-min.jpg" alt="glenn cartens peters" class="img-responsive">
						<h3>Building projects</h3>
						<span>Makinng things work</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\got.jpg" alt="game of throne raffalli jose taste" class="img-responsive">
						<h3>Entertainment</h3>
						<span>Movies, series and video games</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\domenico-loia-310197-min.jpg" alt="workspace" class="img-responsive">
						<h3>Workspace</h3>
						<span>Comfort will make you more productive</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\joshua-earle-2521-min.jpg" alt="travel joshua earle" class="img-responsive">
						<h3>Traveling</h3>
						<span>Love meeting new places</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\hubble_galaxy-2560x1440-min.jpg" alt="science raffalli jose luis" class="img-responsive">
						<h3>Science</h3>
						<span>To uncover the mysteries of the world</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Featurrete para contactar  -->
	<div id="fh5co-started">
		<div class="container">
			<div id="contactarFeature1" class="row  animated">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Wanna get in touch?</h2>
					<p>You can contact me for anything you want!</p>
				</div>
			</div>
			<div id="contactarFeature2" class="row animated">
				<div class="col-md-8 col-md-offset-2">
					<form class="form-inline">
						<div class="col-md-6 col-md-offset-3 col-sm-6">
							<a href="/contact" class="btn btn-default btn-block">Contact me</button>
						</div>
					</form>
				</div>
			</div>
		</div>
  </div>

  <!-- Ir al tope  -->
  <div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
</div>
<!-- Typed code -->
<script>
		var type3 = new Typed('#typed3', {
			strings: [ "teaching", "technology", "Angular" , "managing projects", "pizza","web development", "Game of Thrones", "the world" ],
			loop: true,
  			loopCount: 3,
			startDelay: 1200,
			backSpeed: 40,
			backDelay: 1000,
  			typeSpeed: 110
		});

		var type4 = new Typed('#dialog1', {
			strings: [" " ,"Click the button if you wish to contact me!", "Or keep scrolling to see my services",  ],
			loop: true,
  			loopCount: 3,
			backSpeed: 20,
			backDelay: 200,
  			typeSpeed: 50
		});

		
</script>