<!-- Loader -->
	<div class="fh5co-loader"></div>
<!-- Main -->
<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="left-menu text-right menu-1">
					<ul>
						<li><a style="cursor: pointer;" onclick="goToAbout()">About</a></li>
						<li><a style="cursor: pointer;" onclick="trajectory()">Trajectory</a></li>
					</ul>
				</div>
				<div class="logo text-center">
					<!-- Logo and name -->
					<div id="fh5co-logo"><a href="/">Jose</a></div>
				</div>
				<div class="right-menu text-left menu-1">
					<ul>
						<li><a href="/skills">Projects</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>


	<!-- Header -->
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/Mountains.jpg);">
		<div class="container">
			<div  class="Starcontainer">
				<canvas id="pixie"></canvas>
			</div>
			<div  class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Jose Luis Raffalli</h1>
							<h2>I love <span style="color:#b3d4ff; font-weight:400" id="typed3"></span></h2>
						</div>
					</div>
					<div class="contactButton" >
						<div align="center" class="col-md-6 col-md-offset-3 col-sm-6" >
							<a style="width: 50%;" href="/contact"  class="btn btn-block" >Contact</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main skills tres columnas  -->
	<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<div align="center">
								<span class="icon3">
									<img height="70"  src="/images/fonts/businessman.svg" alt="">
								</span>
							</div>
						<h3 class="firsts-h3"  align="center" >Project Manager</h3>
						<p>Love to create and manage projects. Responsible of lifting the business requirements, clearly define objectives to my dev team, management of resources, costs and possible risks.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<div align="center">
								<span class="icon3">
									<img height="70" src="/images/fonts/stack.svg" alt="">
								</span>
						</div>
						<h3 class="firsts-h3" align="center">Fullstack Developer</h3>
						<p>Frontend developer using modern component based frameworks such as React, Angular and Vue. Also holding experience building backend micro-services and systems with custom functionalities.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<div align="center">
								<span class="icon3">
									<img height="70" src="/images/fonts/startup.svg" alt="">
								</span>
						</div>
						<h3 class="firsts-h3"  align="center">Startups Accelerator</h3>
						<p>Pitch your business and secure the funding needed to launch a new company. I know to write clear, compelling, targeted mission and vision statements. Let's build together a better world and make business on the way.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About Feature  -->
	<div id="fh5co-project"  >
		<!-- About 1  -->
		<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div style="padding-bottom:1em" class="col-md-12 section-heading text-center">
					<h2>About Me</h2>
				</div>
			
				<!-- Foto circular  -->
				<div class="about-content">
					<div class="row">
						<div class=" animate-box" data-animate-effect="fadeIn">
							<div class="fh5co-staff">
								<img src="images/sml-min.jpg" alt="José Raffalli Adriani">
								<h3>José Luis Raffalli Adriani</h3>
								<strong class="role">Systems Engineer</strong>
								<div class="container">
									<p>
										Systems Engineer specialized in IT project management and internal business communications.
										<br/>
										Experienced as full stack developer, agile coaching and modern system architectures designs.
									</p>
								</div>

								<ul class="fh5co-social-icons">
									<li>
										<a href="https://www.linkedin.com/in/jos%C3%A9raffalli/">
											<i class="icon-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="https://github.com/JotaRaffalli">
											<i class="icon-github"></i>
										</a>
									</li>
								</ul>
							</div>
							<div style="text-align: center;">
								<a target="_blank" href="/CVs/Clean CV English.pdf" class="btn btn-primary ">Curriculum</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- TimeLine Semi Ready -->
	<div id="trajectory" class="section-heading text-center">
		<h2>
			Trajectory
		</h2>
	</div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">

			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Systems Engineering degree</h2>
				<p>Trained to study interdisciplinary problems of diverse types and complexity, related to the handling of information within an organization.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date"> 2013 - 2018</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">

			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Platzi Scholarship Courses</h2>
				<p>Of the best companies in the education industry, I had the opportunity to be in multiple courses of different technological fields such as web development, project management, artificial intelligence and DevOps strategies.</p>
				<a href="www.platzi.com" class="cd-read-more">Go to Platzi</a>
				<span class="cd-date">2016-2018</span>
			</div> <!-- cd-timeline-content -->
		</div> 

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">

			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>Mobile & Web applications developer at Aether Solutions</h2>
				<p>My main role at Aethersol was to standardize organizational processes. I was in charge of generating code documentation and technical instructions for the use of developed applications.
				 I worked with component based frameworks such as React and React Native.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">2018</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">

			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Project Manager, TYPE IQs</h2>
				<p>
					I was part of the department of coordination and management of IT projects,
					standardizing project planning and promoting the agile development philosophy in the millennial community. </p>
				<a href="http://www.typeiqs.com" class="cd-read-more">Read more</a>
				<span class="cd-date">2017 - 2018</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

	</section> <!-- cd-timeline -->


	<!-- wCollage 2  -->
	<div style="margin-top:50px;" id="fh5co-project">
		<div class="container">
			<div id="collage2" class="row animated">
				<a class="col-md-8 col-md-offset-2 text-center section-heading">
					<h2>What I like the most</h2>
					<h3 >Things that make me who I am</h3>
				</a>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\tunnel-view-3840x2160-yosemite-ca-sunset-mountains-clouds-pines-6147-min.jpg" alt="Yosemite Raffalli" class="img-responsive">
						<h3>Nature</h3>
						<span>World landscapes</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\glenn-carstens-peters-190592-edit.jpg" alt="glenn cartens peters" class="img-responsive">
						<h3>Building projects</h3>
						<span>Makinng things work</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\got.jpg" alt="game of throne raffalli jose taste" class="img-responsive">
						<h3>Entertainment</h3>
						<span>Movies, series and video games</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\amazing-modern-workspace-imac-27quot-display-computer-setup-for-imac-27-desk-setup.jpg" alt="workspace" class="img-responsive">
						<h3>Workspace</h3>
						<span>Comfort will make you more productive</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\joshua-earle-2521-min.jpg" alt="travel joshua earle" class="img-responsive">
						<h3>Traveling</h3>
						<span>Love meeting new places</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\hubble_galaxy-2560x1440-min.jpg" alt="science raffalli jose luis" class="img-responsive">
						<h3>Science</h3>
						<span>To uncover the mysteries of the world</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio -->
	<div id="top"></div>
	<section class="gallery">
			<div class="row">
				<ul>
					<a href="#" class="close"></a>
					<li>
						<a href="#item02">
							<img src="https://cdn.dribbble.com/users/545884/screenshots/3981307/lorena2.png" alt="">
						</a>
					</li>
		
					<li>
						<a href="#item02">
							<img src="https://cdn.dribbble.com/users/545884/screenshots/3892302/contact.png" alt="">
						</a>
					</li>
		
					<li>
						<a href="#item02">
							<img src="https://cdn.dribbble.com/users/545884/screenshots/4154721/dive--001.png" alt="">
						</a>
					</li>
					<li>
						<a class="image" href="#item01">
							<img src="https://cdn.dribbble.com/users/545884/screenshots/4356121/darko--dr.jpg" alt="">
						</a>
					</li>
					<li>
						<a class="image" href="#item02">
							<img src="https://cdn.dribbble.com/users/545884/screenshots/3695553/news.png" alt="">
						</a>
					</li>
					<li>
						<a class="image" href="#item01">
							<img src="https://cdn.dribbble.com/users/545884/screenshots/4360101/liberosis_--_12.png" alt="">
						</a>
					</li>
					<li>
						<a class="image" href="#item01">
							<img src="https://cdn.dribbble.com/users/545884/screenshots/3148799/technical-book.jpg" alt="">
						</a>
					</li>
					<li>
						<a class="image" href="#item01">
							<img src="https://cdn.dribbble.com/users/545884/screenshots/2883479/cover.jpg" alt="">
						</a>
					</li>
				</ul>
			</div> <!-- / row -->
		
			<!-- Item 01 -->
			<div id="item01" class="port">
			
				<div class="row">
					<div class="description">
						<h1>Item 01</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
					</div>
		
						<img src="https://cdn.dribbble.com/users/545884/screenshots/3981307/lorena2.png" alt="">
					</div>
				</div> <!-- / row -->
		
			 <!-- / Item 02 -->
		
			<!-- Item 02 -->
			<div id="item02" class="port">
			
				<div class="row">
					<div class="description">
						<h1>Item 02</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
					</div>
					<img src="https://cdn.dribbble.com/users/545884/screenshots/2883479/cover.jpg" alt="">
				</div> <!-- / row -->
		
			</div> <!-- / Item 02 -->
		
		</section>

	<!-- Featurrete para contactar  -->
	<div id="fh5co-started">
		<div class="container">
			<div id="contactarFeature1" class="row  animated">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Wanna get in touch?</h2>
					<p>You can contact me for anything you want!</p>
				</div>
			</div>
			<div id="contactarFeature2" class="row animated">
							<div class="col-md-8 col-md-offset-2">
									<div class="col-md-6 col-md-offset-3 col-sm-6">
										<a href="/contact" ><button class="btn btn-default btn-block">Contact</button></a>
									</div>
							</div>
			</div>
		</div>
  </div>

  <!-- Ir al tope  -->
  <div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
</div>
