<!-- Canvas stars -->
<!-- <script src="no_needJs/starsCanvas.js"></script> -->
<!-- Typed -->
<!-- <script src="no_needJs/typed.js"></script> -->

<!-- <link rel="stylesheet" href="no_needStyles/codeSvg.css"> -->

<!-- Loader -->
	<div class="fh5co-loader"></div>
	
<!-- Main -->
<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="left-menu text-right menu-1">
					<ul>						
						<li><a style="cursor: pointer;" onclick="goToAbout()">About me</a></li>
						<li><a style="cursor: pointer;" onclick="trajectory()">Trajectory</a></li>
						<li class="has-dropdown">
							<a href="/services">Services</a>
							<ul class="dropdown">
								<li><a href="/services">Web Platforms</a></li>							
								<li><a href="/services">Mobile Applications</a></li>								
								<li><a href="/services">IT Consulting</a></li>
								<li><a href="/services">Data Science</a></li>								
								<li><a href="/services">Digital Marketing</a></li>								
								<li><a href="/services">External Audits</a></li>								
								<li><a href="/services">APIs Development</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="logo text-center">
					<!-- Logo and name -->
					<div id="fh5co-logo"><a href="/">Jose</a></div>
				</div>
				<div class="right-menu text-left menu-1">
					<ul>
						<li><a href="/skills">Skills</a></li>
						<li class="has-dropdown">
							<a href="#">More</a>
							<ul class="dropdown">
								<li><a href="#">Current Projects</a></li>
								<li><a href="#">Preparadurias</a></li>
							</ul>
						</li>
						<li><a href="/contact">Contact Me </a></li>
						<!-- <li class="btn-cta"><a href="#"><span>Login</span></a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</nav>


	<!-- Header -->
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/pexels-photo-hd.jpg);">
		<div class="container">
			<div  class="Starcontainer">
				<canvas id="pixie"></canvas>
			</div>
			<div  class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Jose Luis Raffalli</h1>
							<h2>I love <span style="color:#afceff; font-weight:400" id="typed3"></span></h2>							
						</div>
					</div>
					<div class="row" >
						<div align="center" class="col-md-6 col-md-offset-3 col-sm-6" >
							<a style="width: 50%;" href="/contact"  class="btn btn-block" >Go to Contact</a>
						</div>
				</div> 
				</div>
			</div>
		</div>
	</header>

	<!-- Main skills tres columnas  -->
	<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<div align="center">
								<span class="icon3">
									<img height="70"  src="/images/fonts/businessman.svg" alt="">
								</span>
							</div>
						<h3 class="firsts-h3"  align="center" >Project Manager</h3>
						<p>Love to create and manage technological projects. Being responsible of lifting the requiriments of the business, clearly define the objectives for the team, the management of resources, costs and possible risks.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<div align="center">
								<span class="icon3">
									<img height="70" src="/images/fonts/stack.svg" alt="">
								</span>
						</div>
						<h3 class="firsts-h3" align="center">Fullstack Developer</h3>
						<p>From simple web designs, to more robust web systems like APIs or administrative softwares. I'm skilled building incredible visuals and system functionalities using the latest technologies and modern design patterns.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<div align="center">
								<span class="icon3">
									<img height="70" src="/images/fonts/startup.svg" alt="">
								</span>
						</div>
						<h3 class="firsts-h3"  align="center">Startups Accelerator</h3>
						<p>Pitch your business and secure the funding you’ll need to launch your new company. I’ll show you how to write clear, compelling, targeted mission and vision statements. Let's build together a better world and make bussiness on the way.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About Feature  -->
	<div id="fh5co-project"  >
		<!-- About 1  -->
		<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div style="padding-bottom:1em" class="col-md-12 section-heading text-center">
					<h2>About Me</h2>
				</div>
				<!-- 				<div style="margin-left: 10px; margin-right: 10px" class="row">
							<div id="aboutBrief" class="col-md-6 animated">
								<h2>Hello there!</h2>
								<p>My name is Jose Luis Raffalli, I am an enthusiast and lover of all sort of <strong>technologies</strong>. I like to manage projects, build cool interfaces and help people create amazing companies through the use of software.</p> 
								<p>I’m a systems engineer trained to study interdisciplinary problems of diverse types and complexity, related to the handling of information within an organization. </p>
								<p><a id="typed1" style="display: inline-block"  href="/about" class="btn btn-primary">More about me?</a></p>
								<img id="moji1" class="animated" style="margin-left: 165px; margin-top:-145px" height="90" src="images/Bitmojis/bitmoji-20170811100659.png"  alt="Bitmoji Relax">
							</div>
							<div id="aboutBriefImg"  class="col-sm-6 animated">
								<img  width="550" height="350" src="images/IMG_2931.jpg" class="img-responsive img-rounded" alt="José Luis Raffalli Adriani">
								
							</div>
							</div> -->
				<!-- Foto circular  -->
				<div class="about-content">
					<div class="row">
						<div class=" animate-box" data-animate-effect="fadeIn">
							<div class="fh5co-staff">
								<img src="images/sml.jpg" alt="José Raffalli Adriani">
								<h3>José Luis Raffalli Adriani</h3>
								<strong class="role">Systems Engineer</strong>
								<p class="container">
									Systems Engineer specialized in IT project management and internal business communications.<br>
									Experienced as full stack front to back developer, agile coaching and modern system architectures designs. 
									As Systems Engineer, I'm trained to study interdisciplinary problems of diverse types and 
									complexity, related to the handling of information within an organization. 
								</p>
								<ul class="fh5co-social-icons">
									<li>
										<a href="https://www.facebook.com/joseluis.raffalli">
											<i class="icon-facebook"></i>
										</a>
									</li>
									<li>
										<a href="https://twitter.com/JotaRaffalli">
											<i class="icon-twitter"></i>
										</a>
									</li>
									<li>
										<a href="https://www.linkedin.com/in/jos%C3%A9raffalli/">
											<i class="icon-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="https://github.com/JotaRaffalli">
											<i class="icon-github"></i>
										</a>
									</li>
								</ul>
							</div>
							<div style="text-align: center; margin-top:-15px">
								<a target="_blank" href="/CVs/Clean CV English.pdf" class="btn btn-primary ">Curriculum Viate</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- About 2  -->
		<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div style="margin-left: 5px; margin-right: 5px" class="row">
				<div align="center" id="aboutBriefImg2"  class="col-sm-6 animated">
					 <!--<img id="imagenAbout"  src="images/NewyorkParkMia.jpg" class="img-responsive img-rounded" alt="José Luis Raffalli Adriani about1">	 
					--><img  width="175" height="200" src="images/Yo sin fondo en NY.png" class="img-responsive img-rounded" alt="José Luis Raffalli Adriani">	
				</div>
				<div id="aboutBrief2" class="col-sm-6 animated">
					<h2>I like modern and fast things</h2>
					<p>
							I'm good at leading and managing projects with experience in the 
							​​agile/lean development fields. It is easy for me to identify and raise 
							requirements, define objectives for my designate development team, manage 
							the available resources, as well as the costs and possible risks, according to 
							the impact they may represent to the business.
					</p>
					<p style="align-content: center"><a href="/contact" class="btn btn-primary">Contact me</a></p>
					<div align="right">
						<!-- <a style="position:absolute; margin-top:140px" href="/contact" class="btn btn-primary">Contact</a> -->
						<div id="mojiText" style="margin-top:90px; margin-left:75px; position:absolute;">
							<span id="dialog1"></span>
						</div>
						<img  id="moji2" class="animated"   height="215" src="images/Bitmojis/bitmoji-20170811100450.png"  alt="Bitmoji Relax">
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Services Feature  -->
	<div id="fh5co-services2" class="fh5co-bg-section">
		<div align="center" class="container">
			<div  class="section-heading text-center">
				<h2>
					My services
				</h2>
			</div>
			<div class="col-md-4 col-sm-4 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-user"></i>
					</span>
					<div class="desc">
						<h3>IT Consultancy</h3>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-mobile"></i>
					</span>
					<div class="desc">
						<h3>Multiplatform Dev</h3>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-brush"></i>
					</span>
					<div class="desc">
						<h3>Digital Marketing</h3>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-paper"></i>
					</span>
					<div class="desc">
						<h3>Audits</h3>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-stack"></i>
					</span>
					<div class="desc">
						<h3>Agile Coaching</h3>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animate-box">
				<div class="feature-center">
					<span class="icon icon2">
						<i class="icon-laptop"></i>
					</span>
					<div class="desc">
						<h3>Web Development</h3>
					</div>
				</div>
			</div>
			<div style="margin-top:15px;" class="section-heading animate-box" >
					<a  href="/services" class="btn btn-primary">
						Click to Learn More
					</a>
			</div>
				
		</div>
	</div>

	<!-- TimeLine Semi Ready -->
	<div id="trajectory" style="padding-top: 4em; "  class="section-heading text-center">
		<h2>
			Some Trajectory
		</h2>
	</div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Systems Engineering degree</h2>
				<p>Trained to study interdisciplinary problems of diverse types and complexity, related to the handling of information within an organization. At my beloved house of studies in Universidad Metropolitana, Caracas Venezuela.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">2013-2018</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Platzi Scholarship Courses</h2>
				<p>Of the best companies in the education industry, I had the opportunity to be in multiple courses of different technological fields such as web/multiplatform development, project managment, startup creation, correct digital marketing and DevOps strategies.  </p>
				<a href="www.platzi.com" class="cd-read-more">Go to Platzi</a>
				<span class="cd-date">2016-2018</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

<!-- 		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				
			</div> 
			<div class="cd-timeline-content">
				<h2>Losher English Diploma</h2>
				<p>Losher Language Institute English certificate.</p>
				<a href="#" class="cd-read-more">Read more</a>
				<span class="cd-date">2011</span>
			</div> 
		</div>  -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>Mobile & Web applications developer at Aether Solutions</h2>
				<p>My main role at Aethersol was to standardize organizational processes. I was in charge of generating code documentation and technical instructions for the use of developed applications. 
				 I worked with component base frameworks such as React, React Native and Angular.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">2018 Actual</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
			
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Project Manager, TYPE IQs</h2>
				<p>Type IQ's started as a small startup converting ideas into business based on the value of knowledge. Now being one of the best consultants and business accelerators of the region, 
					I was part of the department of coordination and management of IT projects, 
					standardizing organizational processes and also promoting the agile development philosophy in the millennial community. </p>
				<a href="http://www.typeiqs.com" class="cd-read-more">Read more</a>
				<span class="cd-date">2017-2018</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

	</section> <!-- cd-timeline -->

	<!-- Collage 1 : Educación  -->
	<div id="fh5co-project">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center section-heading">
					<h2>Some achievements</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
						<a target="_blank" href="https://platzi.com/@keydash/pmi/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-pmi-page-001.jpg" alt="Platzi Certificate PMP to Jose Luis Raffalli Adriani" class="img-responsive">		
						</a>
				</div>				
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
					<a target="_blank" href="https://platzi.com/@keydash/html5-css3/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-html5-css3-page-001.jpg" alt="Platzi Certificate to Jose Luis Raffalli Adriani" class="img-responsive">		
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
					<a href="https://platzi.com/@keydash/scrum/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-scrum-page-001.jpg" alt="Platzi Certificate to Jose Luis Raffalli" class="img-responsive">		
					</a>
				</div>			
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
					<a target="_blank" href="https://platzi.com/@keydash/posicionamiento-buscadores/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-posicionamiento-buscadores-page-001.jpg" alt="Certificado de SEO  Jose Luis Raffalli Adriani" class="img-responsive">		
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
						<a target="_blank" href="https://platzi.com/@keydash/angular/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-angular-page-001.jpg" alt="Certificado de Platzi en Angular 4 | Jose Luis Raffalli Adriani" class="img-responsive">		
						</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
						<a href="https://platzi.com/@keydash/vuejs/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-vuejs-page-001.jpg" alt="Certificado de Vue.js para Jose Luis Raffalli Adriani" class="img-responsive">		
						</a>
				</div>	
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
						<a target="_blank" href="https://platzi.com/@keydash/git-github-2016/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-git-github-page-001.jpg" alt="Platzi Certificate to Jose Luis Raffalli Adriani" class="img-responsive">		
						</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
						<a target="_blank" href="https://platzi.com/@keydash/sql-mysql/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-sql-mysql-page-001.jpg" alt="Platzi Certificate to Jose Luis Raffalli" class="img-responsive">		
						</a>
					</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
					<a target="_blank" href="https://platzi.com/@keydash/programacion-basica/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-programacion-basica-page-001.jpg" alt="Platzi Certificate to Jose Luis Raffalli" class="img-responsive">		
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
						<a target="_blank" href="https://platzi.com/@keydash/heroku/diploma/"><img class="img-responsive" src="images/Collage 1- Formación/diploma-heroku-page-001.jpg" alt="Platzi Certificate to Jose Luis Raffalli" class="img-responsive">		
						</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
					<a target="_blank" href="#"><img class="img-responsive" src="images/Collage 1- Formación/Certificado Uneweb.jpg" alt="Certificado Uneweb Raffalli Jose Luis" class="img-responsive">	
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project2 ">
					<a target="_blank" href="#"><img class="img-responsive" src="images/Collage 1- Formación/Sae Certificate Done.jpg" alt="Sae Aerodesign Certificate" class="img-responsive">

					</a>
				</div>

			</div>
		</div>
	</div>

	

	
	<!-- Testimonios  -->
	<div id="fh5co-testimonial" style="background-image:url(images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div id="testimonial" class="row animated">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Happy Clients</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quote"></i></span></span>
							<p>&ldquo; Thank you very much Jose, love your work and way of handling stuff &rdquo;</p>
						</blockquote>
						<p class="author">Jason Toussaint - <a href="https://www.louverturetravels.com" target="_blank">Louverture Travels</a> <span class="subtext">CEO at L'ouverture</span></p>
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quote"></i></span></span>
							<p>&ldquo; José is one of our bests programmers and also an enthusiastic project manager. He has a bright young mind and is very skilled in the development of web systems &rdquo;</p>
						</blockquote>
						<p class="author">Luis sandoval - <a href="www.typeiqs.com" target="_blank">Type IQs</a><span class="subtext">CEO at T123 Project</span></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quote"></i></span></span>
							<p>&ldquo; Very happy with the work and the attention he provided in support. Excellent attitude and willingness to attend  &rdquo;</p>
						</blockquote>
						<p class="author">José Moreno - <a href="http://clinicaelavila.com/" target="_blank">Clínica el Ávila</a><span class="subtext">Medic & table director at Clínica el Ávila</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- wCollage 2  -->
	<div style="margin-top:50px;" id="fh5co-project">
		<div class="container">
			<div id="collage2" class="row animated">
				<div class="col-md-8 col-md-offset-2 text-center section-heading">
					<h2>What I like the most</h2>
					<h3 >Things that make me who I am</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\tunnel-view-3840x2160-yosemite-ca-sunset-mountains-clouds-pines-6147-min.jpg" alt="Yosemite Raffalli" class="img-responsive">
						<h3>Nature</h3>
						<span>World landscapes</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\glenn-carstens-peters-190592-edit.jpg" alt="glenn cartens peters" class="img-responsive">
						<h3>Building projects</h3>
						<span>Makinng things work</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\got.jpg" alt="game of throne raffalli jose taste" class="img-responsive">
						<h3>Entertainment</h3>
						<span>Movies, series and video games</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\amazing-modern-workspace-imac-27quot-display-computer-setup-for-imac-27-desk-setup.jpg" alt="workspace" class="img-responsive">
						<h3>Workspace</h3>
						<span>Comfort will make you more productive</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\joshua-earle-2521-min.jpg" alt="travel joshua earle" class="img-responsive">
						<h3>Traveling</h3>
						<span>Love meeting new places</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\hubble_galaxy-2560x1440-min.jpg" alt="science raffalli jose luis" class="img-responsive">
						<h3>Science</h3>
						<span>To uncover the mysteries of the world</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Featurrete para contactar  -->
	<div id="fh5co-started">
		<div class="container">
			<div id="contactarFeature1" class="row  animated">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Wanna get in touch?</h2>
					<p>You can contact me for anything you want!</p>
				</div>
			</div>
			<div id="contactarFeature2" class="row animated">
							<div class="col-md-8 col-md-offset-2">
									<div class="col-md-6 col-md-offset-3 col-sm-6">
										<a href="/contact" ><button class="btn btn-default btn-block">Contact</button></a>
									</div>
							</div>
			</div>
		</div>
  </div>

  <!-- Ir al tope  -->
  <div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
</div>