<!-- Loader -->
	<div class="fh5co-loader"></div>
<!-- Main -->
<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="left-menu text-right menu-1">
					<ul>
						<li><a style="cursor: pointer;" onclick="goToAbout()">About</a></li>
						<li><a style="cursor: pointer;" onclick="trajectory()">Trajectory</a></li>
					</ul>
				</div>
				<div class="logo text-center">
					<!-- Logo and name -->
					<div id="fh5co-logo"><a href="/">Jose</a></div>
				</div>
				<div class="right-menu text-left menu-1">
					<ul>
						<li><a style="cursor: pointer;" onclick="goToProjects()" >Projects</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>


	<!-- Header -->
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/images/Mountains.jpg);">
		<div class="container">
			<div  class="Starcontainer">
				<canvas id="pixie"></canvas>
			</div>
			<div  class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Jose Luis Raffalli</h1>
							<h2>I love <span style="color:#b3d4ff; font-weight:400" id="typed3"></span></h2>
						</div>
					</div>
					<div class="contactButton" >
						<div align="center" class="col-md-6 col-md-offset-3 col-sm-6" >
							<a style="width: 50%;" href="/contact"  class="btn btn-block" >Contact</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main skills tres columnas  -->
	<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<div align="center">
								<span class="icon3">
									<img height="70"  src="/images/fonts/businessman.svg" alt="">
								</span>
							</div>
						<h3 class="firsts-h3"  align="center" >Project Manager</h3>
						<p>Love to create and manage projects. Responsible of lifting the business requirements, clearly define objectives to my dev team, management of resources, costs and possible risks.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<div align="center">
								<span class="icon3">
									<img height="70" src="/images/fonts/stack.svg" alt="">
								</span>
						</div>
						<h3 class="firsts-h3" align="center">Fullstack Developer</h3>
						<p>Frontend developer using modern component based frameworks such as React, Angular and Vue. Also holding experience building backend micro-services and systems with custom functionalities.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<div align="center">
								<span class="icon3">
									<img height="70" src="/images/fonts/startup.svg" alt="">
								</span>
						</div>
						<h3 class="firsts-h3"  align="center">Startups Accelerator</h3>
						<p>Pitch your business and secure the funding needed to launch a new company. I know to write clear, compelling, targeted mission and vision statements. Let's build together a better world and make business on the way.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About Feature  -->
	<div id="fh5co-project"  >
		<!-- About 1  -->
		<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div style="padding-bottom:1em" class="col-md-12 section-heading text-center">
					<h2>About Me</h2>
				</div>
			
				<!-- Foto circular  -->
				<div class="about-content">
					<div class="row">
						<div class=" animate-box" data-animate-effect="fadeIn">
							<div class="fh5co-staff">
								<img src="images/sml-min.jpg" alt="José Raffalli Adriani">
								<h3>José Luis Raffalli Adriani</h3>
								<strong class="role">Systems Engineer</strong>
								<div class="container">
									<p>
										Systems Engineer specialized in IT project management and internal business communications.
										<br/>
										Experienced as full stack developer, agile coaching and modern system architectures designs.
									</p>
								</div>

								<ul class="fh5co-social-icons">
									<li>
										<a href="https://www.linkedin.com/in/jos%C3%A9raffalli/">
											<i class="icon-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="https://github.com/JotaRaffalli">
											<i class="icon-github"></i>
										</a>
									</li>
								</ul>
							</div>
							<div style="text-align: center;">
								<a target="_blank" href="/CVs/Clean CV English.pdf" class="btn btn-primary ">Curriculum</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- TimeLine Semi Ready -->
	<div id="trajectory" class="section-heading text-center">
		<h2>
			Trajectory
		</h2>
	</div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">

			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Systems Engineering degree</h2>
				<p>Trained to study interdisciplinary problems of diverse types and complexity, related to the handling of information within an organization.</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date"> 2013 - 2018</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">

			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Platzi Scholarship Courses</h2>
				<p>Of the best companies in the education industry, I had the opportunity to be in multiple courses of different technological fields such as web development, project management, artificial intelligence and DevOps strategies.</p>
				<a href="www.platzi.com" class="cd-read-more">Go to Platzi</a>
				<span class="cd-date">2016-2018</span>
			</div> <!-- cd-timeline-content -->
		</div> 

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">

			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>Mobile & Web applications developer at Aether Solutions</h2>
				<p>
					I worked with component based frameworks such as React and React Native.
					I was in charge of generating code documentation and technical instructions 
					for the use of developed applications.
				 </p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date">2018</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">

			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2> Project Manager at TYPE IQs</h2>
				<p>
					I was part of the department of coordination and management of IT projects.
					Was part of the main group that standardized project plans, promoting the agile development philosophy in the millennial community.</p>
				<a href="http://www.typeiqs.com" class="cd-read-more">Read more</a>
				<span class="cd-date">2016 - 2017</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

	</section> <!-- cd-timeline -->


	<!-- wCollage 2  -->
	<div style="margin-top:50px;" id="fh5co-project">
		<div class="container">
			<div id="collage2" class="row animated">
				<div class="col-md-8 col-md-offset-2 text-center section-heading">
					<h2>What I like the most</h2>
					<h3 >Things that make me who I am</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\tunnel-view-3840x2160-yosemite-ca-sunset-mountains-clouds-pines-6147-min.jpg" alt="Yosemite Raffalli" class="img-responsive">
						<h3>Nature</h3>
						<span>World landscapes</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\glenn-carstens-peters-190592-edit.jpg" alt="glenn cartens peters" class="img-responsive">
						<h3>Building projects</h3>
						<span>Makinng things work</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\got.jpg" alt="game of throne raffalli jose taste" class="img-responsive">
						<h3>Entertainment</h3>
						<span>Movies, series and video games</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\amazing-modern-workspace-imac-27quot-display-computer-setup-for-imac-27-desk-setup.jpg" alt="workspace" class="img-responsive">
						<h3>Workspace</h3>
						<span>Comfort will make you more productive</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\joshua-earle-2521-min.jpg" alt="travel joshua earle" class="img-responsive">
						<h3>Traveling</h3>
						<span>Love meeting new places</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animated" >
					<a href="#"><img src="images\Collage 2\hubble_galaxy-2560x1440-min.jpg" alt="science raffalli jose luis" class="img-responsive">
						<h3>Science</h3>
						<span>To uncover the mysteries of the world</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio -->
	<div id="top"></div>
	<div id="collage3" class="row animated">
			<div class="col-md-8 col-md-offset-2 text-center section-heading">
				<h2>Some Projects</h2>
			</div>
	</div>
	<section class="gallery">
			<div id="fh5co-project">
					<a href="#" class="close"></a>
					<div style="margin-top: -75px !important" class="container">
						<div  class="row">
							<div class="col-md-4 animate-box">
								<div class="project-grid" style="background-image:url(images/Portfolio/Lyric-Finder-min.jpg);">
									<div class="desc">
										<span>Application</span>
										<h3><a href="#item01">Lyric Search</a></h3>
									</div>
								</div>
							</div>
							<div class="col-md-4 animate-box">
								<div class="project-grid" style="background-image:url(images/Portfolio/Sapce-App.jpg);">
									<div class="desc">
										<span>Application</span>
										<h3><a href="#item02">Space app</a></h3>
									</div>
								</div>
							</div>
							<div class="col-md-4 animate-box">
								<div class="project-grid" style="background-image:url(images/Portfolio/The-Chosen-One-min.jpg);">
									<div class="desc">
										<span>Application</span>
										<h3><a href="#item03">The Chosen One</a></h3>
									</div>
								</div>
							</div>
							<div class="col-md-4 animate-box">
								<div class="project-grid" style="background-image:url(images/Portfolio/OkLocated.jpg);">
									<div class="desc">
										<span>Application</span>
										<h3><a href="#item04">Ok Located</a></h3>
									</div>
								</div>
							</div>
							<div class="col-md-4 animate-box">
								<div class="project-grid" style="background-image:url(images/Portfolio/TesisUnimet-iphone.jpg);">
									<div class="desc">
										<span>Application</span>
										<h3><a href="#item05">Unimet Bot</a></h3>
									</div>
								</div>
							</div>
							<div class="col-md-4 animate-box">
								<div class="project-grid" style="background-image:url();">
									<div class="desc">
										<span>Application</span>
										<h3><a href="#item06">Project Name</a></h3>
									</div>
								</div>
							</div>
			
							<a href="/commingsoon" ><button class="btn btn-default btn-block">More Projects</button></a>
										
						</div>
					</div>
				</div>
			<!-- / row -->
		
			<!-- Item 01 -->
			<div id="item01" class="port">
			
				<div class="rowPort">
					<div class="description">
						<h1>Lyric search App</small></h1>
						<p>
							This is a small app that allows users to find song's lyrics using MusixMatch developers API.
							It also fetches the songs album cover from other external API to give users a image preview and help them identify the corresponding artists. 
							This app is made using <strong>React js</strong>, webpack for modules fetch and the 
							<strong>context API</strong> to handle a shared state between components.
						</p>
						<a target="_blank" href="https://github.com/JotaRaffalli/React-Lyric-Finder" class="btn btn-md btn-default">Source <i class="icon-github"></i></a>
						<a target="_blank" href="https://lyric.raffallijoseluis.com.ve/" class="btn btn-md btn-default">Preview <i class="icon-share"></i></a>
					</div>
		
						<img src="images/Portfolio/Lyric-Finder.jpg" alt="Lyric Finder">
				</div>
			</div> 
				<!-- / row -->
		
			 <!-- / Item 01 -->
		
			<!-- Item 02 -->
			<div id="item02" class="port">
			
				<div class="rowPort">
					<div class="description">
						<h1>Space App</h1>
						<p>
							Space site that shows cool content about SpaceX missions and NASA's multimedia.
							This is a small fullstack JavaScript application I made to practice.
							It uses <strong>React</strong> in the front and connects through <strong>Apollo</strong> 
							to a simple <strong>Express GraphQl</strong> middleware to request field specific data
							from NASA's and SpaceX rest APIs. 
						</p>
						
						<a target="_blank" href="https://github.com/JotaRaffalli/Space-PortfolioApp" class="btn btn-md btn-default">Source <i class="icon-github"></i></a>
						<a target="_blank" href="http://space.raffallijoseluis.com.ve" class="btn btn-md btn-default">Preview <i class="icon-share"></i></a>
					</div>
					<img src="images/Portfolio/Sapce-App-min.jpg" alt="Space app">
				</div> <!-- / row -->
		
			</div> <!-- / Item 02 -->

			<!-- Item 03 -->
			<div id="item03" class="port">
			
					<div class="rowPort">
						<div class="description">
							<h1>The Chosen One</h1>
							<p>
								Bluetooth beacon manager iOS mobile application. 
								<br>
								All rights reserved by <a target="_blank" href="http://www.oklocated.com/EN/"> OkLocated</a> original company.
							</p>
							
							<a target="_blank" href="https://itunes.apple.com/es/app/ok-located/id1114782805?l=en&mt=8" class="btn btn-md btn-default">Download App <i class="icon-share"></i></a>
						</div>
						<img src="images/Portfolio/The-Chosen-One-min.jpg" alt="The Chosen One preview">
					</div> <!-- / row -->
			
				</div> <!-- / Item 03     -->

			<!-- Item 04 -->
			<div id="item04" class="port">
			
					<div class="rowPort">
						<div class="description">
							<h1>Ok Located</h1>
							<p>
								Multipurpose bluetooth beacon manager iOS mobile app.
								Offers users a new experience with interactive commerce, giving them promotions or  
								discounts when passing near the shops without having to 
								access directly to them.  
								<br><br>
								Tech details are private.
								<br>
								Rights reserved by <a target="_blank" href="http://www.oklocated.com/EN/"> OkLocated</a> original company.
							</p>
							
							<a target="_blank" href="https://itunes.apple.com/es/app/ok-located/id1114782805?l=en&mt=8" class="btn btn-md btn-default">Download the App <i class="icon-share"></i></a>
						</div>
						<img src="images/Portfolio/OkLocated2.jpg" alt="Oklocated">
					</div> <!-- / row -->
			
				</div> <!-- / Item 4 -->

				<!-- Item 05 -->
			<div id="item05" class="port">
			
					<div class="rowPort">
						<div class="description">
							<h1>Universidad Metropolitana Bot</h1>
							<p>
								Artificial intelligence University chatbot. This system is mean to attend the 
								costumer service of an university through the use of 
								<strong>Natural Language Processing</strong> services ( like IBM Watson assistant) to assist users 
								with common requirements.
								The goal was to reduce the monopolization of contact channels and satisfying client needs in a 
								quick and comfortable way, at whatever place, time, platform and channel of choice. 
								<br><br>
								This system consisted in an series of microservices, a middleware for information control and a user interface.
								It was part of my Systems Engineering career thesis.
								<br>
																
							</p>

							<a target="_blank" class="btn btn-md btn-default" href="http://www.oklocated.com/EN/"> GitHub</a>
							<a target="_blank" class="btn btn-md btn-default" href="https://tesis-unimetbot.firebaseapp.com/"> Live Preview</a>
							
						</div>
						<img src="images/Portfolio/Tesis-Unimetbot-min2.jpg" alt="UnimetBot">
					</div> <!-- / row -->
			
				</div> <!-- / Item 5 -->

				<!-- Item 06 -->
			<div id="item06" class="port">
			
					<div class="rowPort">
						<div class="description">
							<h1>Ok Located</h1>
							<p>
								Multipurpose bluetooth beacon manager iOS mobile app.
								Offers users a new experience with interactive commerce, giving them promotions or  
								discounts when passing near the shops without having to 
								access directly to them.  
								<br><br>
								Tech details are private.
								<br>
								Rights reserved by <a target="_blank" href="http://www.oklocated.com/EN/"> OkLocated</a> original company.
							</p>
							
							<a target="_blank" href="https://itunes.apple.com/es/app/ok-located/id1114782805?l=en&mt=8" class="btn btn-md btn-default">Download the App <i class="icon-share"></i></a>
						</div>
						<img src="images/Portfolio/OkLocated2.jpg" alt="Space app">
					</div> <!-- / row -->
			
				</div> <!-- / Item 6 -->
		
		</section>

	<!-- Featurrete para contactar  -->
	<div id="fh5co-started">
		<div class="container">
			<div id="contactarFeature1" class="row  animated">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Wanna get in touch?</h2>
					<p>You can contact me for anything you want!</p>
				</div>
			</div>
			<div id="contactarFeature2" class="row animated">
							<div class="col-md-8 col-md-offset-2">
									<div class="col-md-6 col-md-offset-3 col-sm-6">
										<a href="/contact" ><button class="btn btn-default btn-block">Contact</button></a>
									</div>
							</div>
			</div>
		</div>
  </div>

  <!-- Ir al tope  -->
  <div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
  </div>
</div>
