<!DOCTYPE html>
<html>
    <html lang="en">
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#2184cc">
      
    
    <!-- Meta -->
    <meta name="google-site-verification" content="ElrWUOWg7gVL_Sr3cjJCx4DueoQOSUA54-YodJ8JuPc" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Jose Luis Raffalli Adriani System Engineer. PMP, Software Quality Assurance. Welcome to my personal Webpage" />
    <meta name="keywords" content="Raffalli, Adriani, José Raffalli, jose raffalli, Jose Luis Raffalli, Jose Luis Raffalli Adriani, Jose Luis, Raffalli JoseLuis" />
    <meta name="author" content="Raffalli José Luis / credits to vue js team, free html5.co and codepen. " />
  <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="My Personal Site"/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content="http://www.raffallijoseluis.com.ve"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content="Wanna learn more about me?. Visit my personal web page to know me better, you can also contact me from there!."/>
    <meta name="twitter:title" content="My Personal Site" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="http://www.raffallijoseluis.com.ve" />
    <meta name="twitter:card" content="URL" />
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/animacionMouse.css">
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/icomoon.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/magnific-popup.css">
    <link rel="stylesheet" href="/styles/starCanvas.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/timelineReset.css">
    <link rel="stylesheet" href="/styles/timelineStyle.css">
    <link rel="stylesheet" href="/styles/typedCursor&Responsive.css">
    <link rel="stylesheet" href="/styles/youtube.css">
    <!--STYLES END-->
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <%- body %>
    <!-- Footer  -->
		<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-sm">
				<div class="col-md-4 fh5co-widget">
					<h3>Jose Luis Raffalli Adriani</h3>
					<p>Systems Engineer & Project Manager Professional.</p>
					<p><a href="#">Visit my Github Pages</a></p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
          
          <ul>
            <span>Info</span>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/services">Services</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
         
          <ul>
            <span>Design Patners</span> 
						<li><a href="http://libelledesign.com.ve">Pro Designers</a></li>
						<li><a href="http://libelledesign.com.ve">Media Managers</a></li>
						<li><a href="http://libelledesign.com.ve">UI/UX Wireframe</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					
            <ul>
            <span>Type Company</span> 
						<li><a href="http://www.typeiqs.com">Strategic plans</a></li>
						<li><a href="http://www.typeiqs.com">Find Developers</a></li>
						<li><a href="http://www.typeiqs.com">PMO center</a></li>
					</ul>
        </div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">Hope you enjoyed the stay.</small>
						<small class="block">&copy; 2018 Jose Raffalli All rights reserved.</small> 
						<small class="block">Special thanks to <a href="http://unsplash.com/" target="_blank">Unsplash</a> for their cool images</small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://www.facebook.com/joseluis.raffalli"><i class="icon-facebook"></i></a></li>
							<li><a href="https://twitter.com/JotaRaffalli"><i class="icon-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/in/jos%C3%A9raffalli/"><i class="icon-linkedin"></i></a></li>
							<li><a href="https://github.com/JotaRaffalli"><i class="icon-github"></i></a></li>
						</ul> 
					</p>
				</div>
			</div>
		</div>
  </footer>
  
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/dependencies/jquery.easing.1.3.js"></script>
    <script src="/js/dependencies/jquery.waypoints.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/no_needJs/timeline.js"></script>
    <script src="/no_needJs/youtubeplayer.js"></script>
    <script src="/no_needJs/typed.js"></script>
    <script src="/js/animacionDeScroll.js"></script>
    <script src="/js/animations.js"></script>
    <script src="/js/jquery.easypiechart.js"></script>
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
