<link rel="stylesheet" href="no_needStyles/skills.css">

<div class="fh5co-loader"></div>

<div id="page">
<nav class="fh5co-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div id="fh5co-logo"><a href="/">Jose</a></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="has-dropdown">
                        <a href="/services">Services</a>
                        <ul class="dropdown">
                                <li><a href="#">Web Platforms</a></li>							
								<li><a href="#">Mobile Applications</a></li>								
								<li><a href="#">IT Consulting</a></li>
								<li><a href="#">Data Science</a></li>								
								<li><a href="#">Digital Marketing</a></li>								
								<li><a href="#">External Audits</a></li>								
								<li><a href="#">API's Development</a></li>
                        </ul>
                    </li>
                    <li class="active" ><a href="/skills">My Skills</a></li>
                    <li class="has-dropdown">
                        <a href="#">More Stuff</a>
                        <ul class="dropdown">
                            <li><a href="#">Current Projects</a></li>
                            <li><a href="#">Personal Platform</a></li>
                            <li><a href="#">Preparadurias</a></li>
                            <li style="font-weight: bold;"><a href="#">Login</a></li>
                        </ul>
                    </li>
                    <li ><a href="contact">Contact</a></li>
                    <li class="btn-cta"><a href="#"><span>Login</span></a></li>
                </ul>
            </div>
        </div>
        
    </div>
</nav>

    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" style="background-image:url(images/emile-perron-190221-min.jpg);">
        
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Proficiencies</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main skills tres columnas  -->
    <div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<div align="center">
								<span class="icon3">
									<img height="70"  src="/images/fonts/businessman.svg" alt="">
								</span>
							</div>
						<h3 class="firsts-h3"  align="center" >Project Manager</h3>
						<p>Love to create and manage technological projects. Being responsible of lifting the requiriments of the business, clearly define the objectives for the team, the management of resources, costs and possible risks.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<div align="center">
								<span class="icon3">
									<img height="70" src="/images/fonts/stack.svg" alt="">
								</span>
						</div>
						<h3 class="firsts-h3" align="center">Fullstack Developer</h3>
						<p>From simple web designs, to more robust web systems like API’s or administrative softwares. I'm skilled building incredible visuals and system functionalities using the latest technologies and modern design patterns.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<div align="center">
								<span class="icon3">
									<img height="70" src="/images/fonts/startup.svg" alt="">
								</span>
						</div>
						<h3 class="firsts-h3"  align="center">Startups Accelerator</h3>
						<p>Pitch your business and secure the funding you’ll need to launch your new company. I’ll show you how to write clear, compelling, targeted mission and vision statements. Let's build together a better world and make bussiness on the way.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="container">
        <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center section-heading">
                        <h2>Proficiencies</h2>
                        <h3 >Abilities & Aptitudes</h3>
                </div>
          
        </div>
        <div style="padding-bottom:3.5em;" class="row">
            <div align="center" class="container-easy">
                <div class="chart-easy" data-percent="80"> </div>                
            </div>
            <div class="text-center">
                    <p> Project Management   -   Agile Development    -   System Architecture</p>
                    <a href="/contact" class="btn btn-default">Get a Quote</a>
                
            </div>
        </div>
       <!-- <div style="padding: 3.5em;" class="row">
                <div class="col-md-8 col-md-offset-2">
                     <div class="feature-center">
                         <div class="text-center">
                             <h3>IT Consultancy</h3>
                             <p>I will help you making decisions regarding Technological projects you or your business may have. 
                                 From complex system or business organization to simple technical advisement, 
                                 I'll be able to give solutions according to your goals.</p>
                         </div>
                        
                     </div>
                     <div class="feature-center">
                             <div class="text-center">
                                 <h3>Business Audits & Documentations</h3>
                                 <p>
                                         As a QA Engineer and following the ISO 9001 standards I can perform quality systems management audits for your company or business. 
                                         I also specialize in technical audits of web systems, SEO or organizational audits.
                                         Please contact me to learn more.
                                 </p>
                                 <br>
                                 <a href="/contact" class="btn btn-default">Get a Quote</a>
                             </div>
                         </div>
                 </div> 
             </div> -->
        
            <div class="container-easy">
                <h2>Fullstack</h2>
                <div class="chart-easy" data-percent="75">Frontend</div>
                <div class="chart-easy" data-percent="60">DevOps</div>
                <div class="chart-easy" data-percent="75">Backend</div> 
            </div>
            <div class="row">
                    <div class="col-md-12 text-justify container-easy ">
                        <h2>Soft Skills</h2>
                        <div class="chart-easy" data-percent="80">Leadership</div>
                        <div class="chart-easy" data-percent="60">Empathy</div>
                        <div class="chart-easy" data-percent="60">Social</div>                        
                        <div class="chart-easy" data-percent="60">Creativity</div>
                        <div class="chart-easy" data-percent="30">Critical thinking</div>   
                        <div class="chart-easy" data-percent="60">Coaching</div>
                
                    </div>
            </div>
            
            <div class="container-easy">
                <h2>Languages Proficiencies</h2>
                <div class="chart-easy" data-percent="100">English</div>
                <div class="chart-easy" data-percent="100">Español</div> 
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-justify container-easy ">
                    <h2>Technologies</h2>
                    <div class="chart-easy" data-percent="90">Javascript</div>
                    <div class="chart-easy" data-percent="90">Git & Github</div>
                    <div class="chart-easy" data-percent="80">SQL & NoSQL</div>
                    <div class="chart-easy" data-percent="75">Angular</div>
                    <div class="chart-easy" data-percent="25">React.js</div>
                    <div class="chart-easy" data-percent="50">Vue.js</div>
                    <div class="chart-easy" data-percent="90">Node.js</div>
                    <div class="chart-easy" data-percent="60">Python</div>
                    <div class="chart-easy" data-percent="60">Laravel</div>
                    <div class="chart-easy" data-percent="80">Java</div>
                    <div class="chart-easy" data-percent="60">C#</div>
                    <div class="chart-easy" data-percent="40">C++</div>
                    <div class="chart-easy" data-percent="90">HTML5</div>
                    <div class="chart-easy" data-percent="90">CSS</div>
            
                </div>
            </div>
    </div>
        
        


</div>

<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>

<script>
    $(function() {
  $('.chart-easy').easyPieChart({
    scaleColor: "#ecf0f1",
    lineWidth: 20,
    lineCap: 'butt',
    barColor: '#1abc9c',
    trackColor:	"#ecf0f1",
    delay: 5000,
    size: 160,
    animate: 4000
  });
});
</script>