@import "lesshat";
html {
  height: 100%;
}
.charts {
  min-height: 100%;
  position: relative;
  text-align: center;
  padding-top: 100px;
  color: #3CCBB9;
  font-family: 'Helvetica Neue', 'Arial';
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1;
}

ul .charts {
  margin-bottom: 4em;
}
.chart {
  display: inline-block;
  width: 95px;
  height: 95px;
  margin: 0 10px;
  vertical-align: top;
  position: relative;
  padding-top: 22px;
}
.chart span {
  display: block;
  font-size: 2em;
  font-weight: normal;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}