<div class="fh5co-loader"></div>

<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="/">Jose</a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li  class=" active has-dropdown">
                            <a href="/services">Services</a>
                            <ul class="dropdown">
                                <li><a href="#">Web Platforms</a></li>
                                <li><a href="#">Mobile Applications</a></li>
                                <li><a href="#">IT Consulting</a></li>
                                <li><a href="#">Data Science</a></li>
                                <li><a href="#">Digital Marketing</a></li>
                                <li><a href="#">External Audits</a></li>
                                <li><a href="#">API's Development</a></li>
                            </ul>
                        </li>
                        <li><a href="/skills">My Skills</a></li>
                        <li class="has-dropdown">
                            <a href="#">More Stuff</a>
                            <ul class="dropdown">
                                <li><a href="#">Current Projects</a></li>
                                <li><a href="#">Personal Platform</a></li>
                                <li><a href="#">Preparadurias</a></li>
                                <li style="font-weight: bold;"><a href="#">Login</a></li>
                            </ul>
                        </li>
                        <li><a href="contact">Contact</a></li>
                        <li class="btn-cta"><a href="#"><span>Login</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Services</h1>
                            <h2>Here you will find my list of services</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-services">
        <div class="container">
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="feature-center">
                    <span class="icon icon2">
                    <i class="icon-eye"></i>
                </span>
                    <div class="desc">
                        <h3>Retina Ready</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit
                            ab aliquam dolor eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="feature-center">
                    <span class="icon icon2">
                    <i class="icon-command"></i>
                </span>
                    <div class="desc">
                        <h3>Fully Responsive</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit
                            ab aliquam dolor eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="feature-center">
                    <span class="icon icon2">
                    <i class="icon-power"></i>
                </span>
                    <div class="desc">
                        <h3>Web Starter</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit
                            ab aliquam dolor eius.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 animate-box">
                <div class="feature-center">
                    <span class="icon icon2">
                    <i class="icon-brush"></i>
                </span>
                    <div class="desc">
                        <h3>Web Design</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit
                            ab aliquam dolor eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="feature-center">
                    <span class="icon icon2">
                    <i class="icon-video2"></i>
                </span>
                    <div class="desc">
                        <h3>Video Editing</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit
                            ab aliquam dolor eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="feature-center">
                    <span class="icon icon2">
                    <i class="icon-help2"></i>
                </span>
                    <div class="desc">
                        <h3>24/7 Help &amp; Support</h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit
                            ab aliquam dolor eius.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>