<div class="fh5co-loader"></div>

<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="/">Jose</a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li  class=" active has-dropdown">
                            <a href="/services">Services</a>
                            <ul class="dropdown">
                                <li><a href="#">Web Platforms</a></li>
                                <li><a href="#">Mobile Applications</a></li>
                                <li><a href="#">IT Consulting</a></li>
                                <li><a href="#">Data Science</a></li>
                                <li><a href="#">Digital Marketing</a></li>
                                <li><a href="#">External Audits</a></li>
                                <li><a href="#">API's Development</a></li>
                            </ul>
                        </li>
                        <li><a href="/skills">My Skills</a></li>
                        <li class="has-dropdown">
                            <a href="#">More Stuff</a>
                            <ul class="dropdown">
                                <li><a href="#">Current Projects</a></li>
                                <li><a href="#">Personal Platform</a></li>
                                <li><a href="#">Preparadurias</a></li>
                                <li style="font-weight: bold;"><a href="#">Login</a></li>
                            </ul>
                        </li>
                        <li><a href="contact">Contact</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../images/Collage%202/glenn-carstens-peters-190592-min.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Services</h1>
                            <h2>Here you will find a list of my common services</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-services">
        <div class="container">
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="feature-center">
                    <div class="desc">
                        <h3>IT Consultancy</h3>
                        <p>I will help you making decisions regarding Technological projects you or your business may have. 
                            From complex system or business organization to simple technical advisement, 
                            I'll be able to give solutions according to your goals.</p>
                    </div>
                    <a href="/contact" class="btn btn-default">Get a Quote</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="feature-center">
                    <div class="desc">
                        <h3>Multiplatform Development</h3>
                        <p>Desktop, mobile and web.
                                I have experience in the field of multiplatform development usually tending
                                to abstract the systems to be modular and run the same core code in
                                different platforms and Opearating Systems.</p>
                    </div>
                    <a href="/contact" class="btn btn-default">Get a Quote</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="feature-center">
                    <div class="desc">
                        <h3>Business Audits & Documentations</h3>
                        <p>
                                As a QA Engineer and following the ISO 9001 standards I can perform quality systems management audits for your company or business. 
                                I also specialize in technical audits of web systems, SEO or organizational audits.
                                Please contact me to learn more.
                        </p>
                    </div>
                    <a href="/contact" class="btn btn-default">Get a Quote</a>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 animate-box">
                <div class="feature-center">
                    <div class="desc">
                        <h3>Web Development</h3>
                        <p>
                        Fullstack front to back web development.
                         From simple web designs like basic online profiles, to more robust web systems like API’s or administrative softwares.
                         I'm skilled building incredible visuals and system functionalities using the latest technologies 
                         and modern design patterns. Please visit my skills page to learn more about the technologies I use.</p>
                    </div>
                    <a href="/contact" class="btn btn-default">Get a Quote</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="feature-center">
                    <div class="desc">
                            <h3>Digital Marketing Advisor</h3>
                            <p>Email marketing, Search Engines Optimizations, Blogs, Graphic Designs, social media etc. 
                                Today the market grows exponentially in a digital way and if your business fails to adapt to it, 
                                your investment will not have been worth anything. Having several studies and certifications
                                in the field, I can organize and plan marketing campaigns that allow your business to stick in the 
                                competition.
                            </p>
                    </div>
                    <a href="/contact" class="btn btn-default">Get a Quote</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 animate-box">
                <div class="feature-center">
                    <div class="desc">
                        <h3>Project Managment &amp; Coaching</h3>
                        <p>I love to create and manage technological projects. Being responsible of lifting the requiriments of the business, 
                        clearly define the objectives for the team, the management of resources, costs and possible risks.
                        Also I am good teaching and integrating dev teams for better productivity.
                        As I have knowledge of the visual ( front ) and functional ( back ) work, I understand their positions and can easily
                        cordinate each of them for a better work experience.
                        </p>
                    </div>
                    <a href="/contact" class="btn btn-default">Get a Quote</a>
                </div>
            </div>
        </div>
    </div>